.cardWrapper {
  border: 2px solid #e2e8f0;
  border-radius: 24px;
  width: 100%;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  -webkit-box-shadow: 1px 1px 24px -13px #B5B5B5; 
  box-shadow: 1px 1px 24px -13px #B5B5B5;
}

