@media (max-width: 768px) {
    .loginContainerRightSide {
      display: none !important;
    }
    .loginContainerLeftSide {
      width: 100%;
      height: 100vh;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .loginFormHeader {
      font-size: 28px !important;
      font-weight: 600;
    }
    .loginContainer {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
    
    }
  }
  @media (min-width: 768.99px) {
    .loginContainer {
      height: 100vh;
      width: 100%;
      display: flex;
    }
  
    .loginContainerLeftSide {
      background-color: #ffff;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .loginForm {
      display: flex;
      justify-content: center;
      flex-direction: column;
  
      width: 60%;
      height: 60%;
    }
  }
  
  
  .inputWrapper {
    position: relative;
    display: inline-block;
  }
  
  .eyeIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .loginFormFooterContent {
    font-size: 14px;
    font-weight: 400;
  }
  
  .loginFormLinkText {
    font-size: 14px;
    font-weight: 600;
    color: #144a97;
    text-decoration: none;
  }
  
  .loginContainerRightSide {
    background: linear-gradient(90deg, #146deb 0%, #144a97 100%);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .brandContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #146deb 0%, #144a97 100%);
    min-width: 400px;
    min-height: 400px;
    border-radius: 104px;
    box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.15),
      inset 3.2px 3.2px 12.8px 3.2px rgba(255, 255, 255, 0.5);
  }
  
  .PasswordDescription {
    font-size: 14px;
    color: #64748b;
  }
  